<!-- footer Start -->

<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Get started</h2>
          <p>Want to see how we'd approach your brand without commiting your whole advertising budget up front? Let us perform an audit and articulate our ideas as it pertains to your brand.</p>
          <a class="btn btn-default btn-call-to-action" href="#" >Request an audit</a>
        </div>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/mkg-difference">MKG Difference</a></li>
            <li><a href="{{ site.baseurl }}/pride">Pride</a></li>
            <li><a href="{{ site.baseurl }}/services">Services</a></li>
            <li><a href="{{ site.baseurl }}/products">Products</a></li>
            <li><a href="{{ site.baseurl }}/products">Blog</a></li>
            <li><a href="{{ site.baseurl }}/contact">Let's Connect</a></li>
          </ul>
        </div>
        <p>Copyright &copy; Design &amp; Developed by <a href="http://www.themefisher.com">Themefisher</a>. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
